In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('chipotle.csv')

In [3]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
df['item_price'] = df['item_price'].replace('[\$,]', '', regex=True).astype(float)

In [6]:
print(df['order_id'].nunique())

1834

In [8]:
average_revenue = df.groupby('order_id')['item_price'].sum().mean()
print(average_revenue)

18.811428571428568

In [12]:
print(df.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(5))

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

In [13]:
print(df['choice_description'].nunique())

1043

In [14]:
total_bill = df.groupby('order_id')['item_price'].sum()
highest_order = total_bill.idxmax()
highest_amount = total_bill.max()
print(f"\n5. Order ID with highest bill: {highest_order}, Amount: ${highest_amount:.2f}")

5. Order ID with highest bill: 926, Amount: $205.25

In [15]:
inconsistent_pricing = df.groupby('item_name')['item_price'].nunique()
inconsistent_items = inconsistent_pricing[inconsistent_pricing > 1]
print("\n6. Items with inconsistent pricing:\n", inconsistent_items)

6. Items with inconsistent pricing:
 item_name
6 Pack Soft Drink                         2
Barbacoa Bowl                             6
Barbacoa Burrito                          6
Barbacoa Crispy Tacos                     5
Barbacoa Salad Bowl                       2
Barbacoa Soft Tacos                       4
Bottled Water                            10
Bowl                                      2
Canned Soda                               3
Canned Soft Drink                         4
Carnitas Bowl                             7
Carnitas Burrito                          7
Carnitas Crispy Tacos                     4
Carnitas Salad Bowl                       2
Carnitas Soft Tacos                       3
Chicken Bowl                             13
Chicken Burrito                          12
Chicken Crispy Tacos                      6
Chicken Salad                             3
Chicken Salad Bowl                        4
Chicken Soft Tacos                        7
Chips                                     4
Chips and Fresh Tomato Salsa              6
Chips and Guacamole                       9
Chips and Roasted Chili Corn Salsa        2
Chips and Tomatillo Green Chili Salsa     2
Chips and Tomatillo Red Chili Salsa       2
Chips and Tomatillo-Green Chili Salsa     2
Chips and Tomatillo-Red Chili Salsa       3
Nantucket Nectar                          2
Side of Chips                             3
Steak Bowl                               10
Steak Burrito                            12
Steak Crispy Tacos                        5
Steak Salad                               2
Steak Salad Bowl                          3
Steak Soft Tacos                          5
Veggie Bowl                               5
Veggie Burrito                            5
Veggie Salad Bowl                         2
Veggie Soft Tacos                         4
Name: item_price, dtype: int64

In [18]:
print(df[df['quantity']>5])

      order_id  quantity                     item_name choice_description  \
3598      1443        15  Chips and Fresh Tomato Salsa                NaN
3599      1443         7                 Bottled Water                NaN
3887      1559         8                 Side of Chips                NaN
4152      1660        10                 Bottled Water                NaN

      item_price
3598       44.25
3599       10.50
3887       13.52
4152       15.00

In [19]:
df['price_per_item'] = df['item_price'] / df['quantity']
average_item_price = df['price_per_item'].mean()
print("\n8. Average price of an item: $", round(average_item_price, 2))

8. Average price of an item: $ 7.08

In [20]:
unique_prices = df.groupby('price_per_item')['item_name'].unique()
print("\n9. Unique item prices and their items:\n", unique_prices)

9. Unique item prices and their items:
 price_per_item
1.09                          [Canned Soda, Bottled Water]
1.25                                   [Canned Soft Drink]
1.50                                       [Bottled Water]
1.69                                       [Side of Chips]
1.69                                       [Side of Chips]
1.99                                               [Chips]
2.15                                               [Chips]
2.29                        [Chips and Fresh Tomato Salsa]
2.39     [Chips and Fresh Tomato Salsa, Chips and Tomat...
2.95     [Chips and Tomatillo Green Chili Salsa, Chips ...
3.00                   [Chips and Mild Fresh Tomato Salsa]
3.39                              [Izze, Nantucket Nectar]
3.89                                 [Chips and Guacamole]
3.99                                 [Chips and Guacamole]
4.00                                 [Chips and Guacamole]
4.25                                 [Chips and Guacamole]
4.45                                 [Chips and Guacamole]
6.49                                   [6 Pack Soft Drink]
7.40                                                [Bowl]
7.40                  [Burrito, Crispy Tacos, Bowl, Salad]
8.19        [Chicken Burrito, Chicken Bowl, Chicken Salad]
8.49     [Chicken Bowl, Chicken Burrito, Veggie Bowl, V...
8.50                                        [Chicken Bowl]
8.69     [Steak Burrito, Steak Crispy Tacos, Steak Bowl...
8.75     [Chicken Crispy Tacos, Chicken Soft Tacos, Chi...
8.99     [Barbacoa Burrito, Carnitas Burrito, Steak Bur...
9.25     [Steak Soft Tacos, Steak Burrito, Barbacoa Sof...
9.39     [Steak Salad Bowl, Barbacoa Salad Bowl, Carnit...
10.58                      [Chicken Burrito, Chicken Bowl]
10.98                                       [Chicken Bowl]
10.98    [Chicken Bowl, Chicken Burrito, Chicken Salad,...
11.08    [Steak Burrito, Carnitas Bowl, Steak Bowl, Bar...
11.25    [Chicken Bowl, Veggie Burrito, Veggie Bowl, Ch...
11.48    [Steak Burrito, Carnitas Bowl, Steak Bowl, Bar...
11.49                                      [Barbacoa Bowl]
11.75    [Steak Burrito, Barbacoa Bowl, Steak Bowl, Car...
11.89    [Steak Salad Bowl, Carnitas Salad Bowl, Barbac...
Name: item_name, dtype: object

In [22]:
canned_soda_orders = df[df['item_name'].str.contains("Canned Soda", case=False)]
print("\n10. Orders that included Canned Soda:\n", canned_soda_orders)

10. Orders that included Canned Soda:
       order_id  quantity    item_name choice_description  item_price  \
18           9         2  Canned Soda           [Sprite]        2.18
28          14         1  Canned Soda       [Dr. Pepper]        1.09
51          23         2  Canned Soda     [Mountain Dew]        2.18
53          24         1  Canned Soda           [Sprite]        1.09
107         47         1  Canned Soda       [Dr. Pepper]        1.09
...        ...       ...          ...                ...         ...
3897      1562         1  Canned Soda     [Mountain Dew]        1.09
3926      1575         1  Canned Soda       [Dr. Pepper]        1.09
3936      1578         1  Canned Soda  [Diet Dr. Pepper]        1.09
4008      1604         1  Canned Soda        [Diet Coke]        1.09
4051      1621         1  Canned Soda           [Sprite]        1.09

      price_per_item
18              1.09
28              1.09
51              1.09
53              1.09
107             1.09
...              ...
3897            1.09
3926            1.09
3936            1.09
4008            1.09
4051            1.09

[104 rows x 6 columns]