In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('titanic.csv')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
filtered_df = df[df['Age'] > 30]
print(filtered_df)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
4              5         0       3
6              7         0       1
11            12         1       1
..           ...       ...     ...
874          874         0       3
880          880         1       1
882          882         0       3
886          886         0       3
891          891         0       3

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
874                        Vander Cruyssen, Mr. Victor    male  47.0      0
880      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
882                                 Markun, Mr. Johann    male  33.0      0
886               Rice, Mrs. William (Margaret Norton)  female  39.0      0
891                                Dooley, Mr. Patrick    male  32.0      0

     Parch    Ticket     Fare Cabin Embarked
1        0  PC 17599  71.2833   C85        C
3        0    113803  53.1000  C123        S
4        0    373450   8.0500   NaN        S
6        0     17463  51.8625   E46        S
11       0    113783  26.5500  C103        S
..     ...       ...      ...   ...      ...
874      0    345765   9.0000   NaN        S
880      1     11767  83.1583   C50        C
882      0    349257   7.8958   NaN        S
886      5    382652  29.1250   NaN        Q
891      0    370376   7.7500   NaN        Q

[305 rows x 12 columns]

In [6]:
df_filled = df.copy()
df_filled['Age'].isna().sum()

178

In [7]:
df_filled['Age'].fillna(30,inplace=True)
print(df_filled)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
887          887         0       2
888          888         1       1
889          889         0       3
890          890         1       1
891          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
887                              Montvila, Rev. Juozas    male  27.0      0
888                       Graham, Miss. Margaret Edith  female  19.0      0
889           Johnston, Miss. Catherine Helen "Carrie"  female  30.0      1
890                              Behr, Mr. Karl Howell    male  26.0      0
891                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
887      0            211536  13.0000   NaN        S
888      0            112053  30.0000   B42        S
889      2        W./C. 6607  23.4500   NaN        S
890      0            111369  30.0000  C148        C
891      0            370376   7.7500   NaN        Q

[892 rows x 12 columns]

C:\Users\SAMRUDH P\AppData\Local\Temp\ipykernel_32220\3218261293.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled['Age'].fillna(30,inplace=True)

In [8]:
df_filled['Age'].isna().sum()

0

In [9]:
df_cleaned = df.dropna()
print(df_cleaned)

     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
872          872         1       1
873          873         0       1
880          880         1       1
888          888         1       1
890          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
872   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
873                           Carlsson, Mr. Frans Olof    male  33.0      0
880      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
888                       Graham, Miss. Margaret Edith  female  19.0      0
890                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
872      1     11751  52.5542          D35        S
873      0       695   5.0000  B51 B53 B55        S
880      1     11767  83.1583          C50        C
888      0    112053  30.0000          B42        S
890      0    111369  30.0000         C148        C

[183 rows x 12 columns]

In [11]:
max_age = df['Age'].max()
min_age = df['Age'].min()
print(max_age)
print(min_age)

80.0
0.42